.modalQRCode {
  background: #3699ff;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.modalQRCode .modalQRCodeTitle {
  text-align: center;
}

.modalQRCode .modalQRCodeTitle > h3 {
  text-align: center;
  font-size: 130%;
  font-weight: 700;
  color: #ffffff;
}
@media only screen and (max-width: 550px) {
  .modalQRCode .modalQRCodeTitle > h3 {
    font-size: 100%;
  }
}

.modalQRCode .modalQRCodeWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.modalQRCode .modalQRCodeImage {
  padding: 7px 7px 0px 7px;
  background: #ffffff;
  border-radius: 10px;
}
.modalQRCode .modalQRCodeImage > img {
  width: 100%;
  object-fit: cover;
}

.modalQRCode .modalQRCodeDownload {
  width: 50%;
  text-align: center;
}

.modalQRCode .modalQRCodeDownload > h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  @media only screen and (max-width: 550px) {
    font-size: 15px;
  }
}
@media only screen and (max-width: 550px) {
  .modalQRCode .modalQRCodeDownload > h2 {
    font-size: 15px;
  }
}
.modalQRCode .modalQRCodeDownload button {
  background: linear-gradient(142.64deg, #fe7f44 26.66%, #ffcf68 93.06%);
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 20px;
}

.modalContentBill {
  padding: 20px 0;
  position: relative;
}

.modalContentBill .modalContentStt {
  color: #33b5e5;
  font-weight: 700;
  text-align: center;
}
.modalContentBill .modalContentStt .modalContentSttNumber {
  margin: 30px 0;
  font-size: 50px;
  line-height: 1.5rem;
}
.modalContentBill ul {
  width: 100%;
}
.modalContentBill ul > * ~ * {
  margin-top: 10px;
}
.modalContentBill ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.modalContentBill ul li > article {
  font-weight: 600;
  max-width: 60%;
  text-align: right;
}

.noteBill {
  font-size: 13px;
}
.noteBill .title {
  color: #ff3547;
  font-weight: 700;
}
.noteBill > article {
  margin: 10px 0;
}
.noteBill > article.item {
  font-style: italic;
}
.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.copyRight > span {
  font-size: 13px;
  color: #3699ff;
}
.copyRight img {
  width: 25%;
}
.introMedpro {
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  font-size: 11px;
}
