.titleCustom {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  .titleTag {
    width: unset;
    margin-bottom: 0;
  }
  .underline {
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      background-color: whitesmoke;
      height: unset;
      bottom: 12px;
      left: 5px;
      width: 100%;
      z-index: -2;
      box-shadow: 4px 6px 10px 6px #40a9ff;
    }
  }
}

.left {
  text-align: left;
  justify-content: left;
}

.center {
  text-align: center;
  justify-content: center;
}

.space-between {
  text-align: center;
  justify-content: 'space-between';
}

.right {
  text-align: right;
  justify-content: right;
}
