.printBillPage {
  padding: 20px 0;
  background: #f0f2f5;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}
.printBillPage button {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.scanQRCode {
  width: 350px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.modalContentCode {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 50px;
  font-size: 13px;
}
.printBill {
  width: 350px;
  margin: auto;
  margin-top: 20px;
  padding: 3px 20px;
  background: #ffffff;
}

.printBill .printBillTitle {
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  line-height: 2rem;
  border-top: 2px dashed#f0f2f5;
  color: #3e3e3e;
  position: relative;
}
.hospitalInfo {
  position: relative;
  border-top: 2px dashed#f0f2f5;
}
.printBill .borderCustom {
  content: '';
  position: absolute;
  top: -20px;
  width: 35px;
  height: 35px;
  background-color: #f0f2f5;
  border-radius: 50%;
}
.borderCustom.left {
  left: -40px;
}
.borderCustom.right {
  right: -40px;
}
.printBill .printBillTitle > article {
  font-size: 20px;
  text-transform: uppercase;
}
.printBill .printBillCode {
  margin: 20px 0;
}
.printBill .success {
  background: #00c851;
  display: inline-block;
  padding: 3px 20px;
  border-radius: 20px;
  color: #ffffff;
}
.printBill .printBillFooter {
  padding-top: 20px;
  font-size: 17px;
  border-top: 2px dashed#f0f2f5;
  position: relative;
}

.printBillPage .sendBookingBill {
  width: 350px;
  margin: auto;
  margin-top: 1rem;
}
.printBillPage .sendBookingBill button {
  width: 100%;
}
.printBillPage .sendBookingBill .btnShowModal {
  background: black;
}
